Body Grid Layout
* {
  box-sizing: border-box;
}

body {
  background-color: #BBCDE5;
  height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 40px auto 1fr 50px;
  grid-template-areas: 
    "navWrapper navWrapper navWrapper"
    ". . ."
    ". contentWrapper ."
    ". . ."
    " footerWrapper footerWrapper footerWrapper";
}

.nav-wrapper {
  grid-area: navWrapper;
}
.content-wrapper {
  grid-area: contentWrapper;
}
.footer-wrapper {
  grid-area: footerWrapper;
}

/* Navigation Grid Layout */
.nav-wrapper {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-areas: 
    ". navContainer .";
  background-color: #FFFFFF;
  border-bottom: 1px solid #13293D;
}

.nav-container {
  grid-area: navContainer;
  display: grid;
  grid-template-columns: 200px 1fr 250px;
  grid-template-areas: 
    "navLogo . navLinks";
}

.nav-logo {
  grid-row: 1;
  grid-area: navLogo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  grid-row: 1;
  grid-area: navLinks;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Content Layout */

.content-container {
  display: grid;
}

.content-image {
  float: left;
}

/* Footer Layout */
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}