* {
  box-sizing: border-box;
}

.header {
  border: 1px solid red;
  padding: 15px;
}

.menu {
  float: left;
  width: 25%;
  padding: 15px;
  border: 1px solid red;
}

.main {
  float: right;
  width: 75%;
  padding: 15px;
  border: 1px solid red;
}